h2,h3{
color:lime;
}

p{
font-size:18px;
}

.container-index{
padding-left:0px;
padding-right:0px;
border-left: 2px solid #ffffff;
border-right: 2px solid #ffffff;
/*border-bottom: 2px solid #ffffff;*/
background-color:black;
}

body{
font-family:'Courier';
background-color:black;
color:white;
/*padding-top: 56px; /*height of fixed navbar*/
}

.resume-row{
color:white;
}
.resume-row h5{
color:white;
font-style:italic;
}
.resume-row h5{
font-size:18px;
}

.col-md-6{
margin-top:6px;
margin-bottom:6px;
}

/* jumbrotron banner */
.jumbotron {
color:lime;
text-align:left;
/* background-image: url("../assets/codeIcon2.jpg");*/
background-color:black;
background-repeat: no-repeat;
background-size: cover;
}

.jumbotron h2 {
font-size: 36px;
}

.jumbotron p {
font-size: 24px;
}

/* Picture for pages upper-left */
.left-image{
/*position: absolute;*/
text-align:center;
vertical-align: middle;
}

.portfolio-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
	vertical-align: middle;	
	max-width: 100%;
    height: auto;
}

.kayakimage{
	  border-radius: 28px;
	text-align:center;
    max-width: 75%; /*to maintain aspect ratio. You can use 100% if you don't care about that*//
    max-height: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}